<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.inheritance"
    android:installLocation="preferExternal">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application>
        <activity android:name=".StudentSignUp"></activity>
        <activity android:name=".StudentLogin" />
        <activity
            android:name=".Home"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Feed"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EditThisPost"
            android:label="EditThisPost"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ViewPost"
            android:label="ViewPost"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AddPost"
            android:label="AddPost"
            android:theme="@style/AppTheme.NoActionBar" /> <!-- <activity -->
        <!-- android:name=".MainActivity" -->
        <!-- android:label="@string/title_activity_committee_list" -->
        <!-- android:theme="@style/AppTheme.NoActionBar"> -->
        <!-- </activity> -->
        <activity
            android:name=".loginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>